* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000 !important;
}

h2{
    color: #ffffff;
}

.mapa-div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

img {
    width: 50%;
    height: 70%;
}

.area{
    width: 100%;
}


.mapa-div path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.mundial{
    padding: 4rem;
}

.Argentina:hover {
    fill: #4C89C1 !important;
}

.Colombia:hover {
    fill: #C4A110 !important;
}


a:hover .Australia {
    fill: #2EA039 !important;
}


a:hover .Zealand {
    fill: #2EA039 !important;
}


.Mexico:hover {
    fill: #006341 !important;
}

.States:hover {
    fill: #1C1C72 !important;
}

.States:hover~path {
    fill: #1C1C72 !important;
}

.Canada:hover {
    fill: #B51820 !important;
}

.Canada:hover~path {
    fill: #B51820 !important;
}

/* ==============================Argentina============================================ */

.container-ar{
    width: 50%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-argentina path{
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-argentina{
    width: 100%;
}

a:hover .argentina-responsive {
    fill: #4C89C1 !important;
}


/* ==============================colombia============================================ */

.container-col {
    width: 80%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-colombia path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-colombia {
    width: 100%;
}

a:hover .colombia-responsive {
    fill: #C4A110 !important;
}

/* ==============================Mexico============================================ */

.container-mex {
    width: 80%;
    margin: 60% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-mexico path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-mexico {
    width: 100%;
}

a:hover .mexico-responsive {
    fill: #006341 !important;
}


/* ==============================EEUU============================================ */

.container-eeuu {
    width: 90%;
    margin: 40% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-estados-unidos path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-estados-unidos {
    width: 100%;
}

a:hover .eeuu-responsive {
    fill: #1C1C72 !important;
}



/* ==============================Canada============================================ */

.container-ca {
    width: 60%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-canada path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-canada {
    width: 100%;
}

a:hover .canada-responsive {
    fill: #B51820 !important;
}

/* ==============================Australia============================================ */

.container-au {
    width: 80%;
    margin: 30% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-australia path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-australia {
    width: 100%;
}

a:hover .australia-responsive {
    fill: #2EA039 !important;
}



/* ==============================New Zealand============================================ */

.container-nz {
    width: 50%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-zealand path {
    fill: #E0E0E0 !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.area-zealand {
    width: 100%;
}

a:hover .zealand-responsive {
    fill: #2EA039 !important;
}


/* ==============================Media Queries============================================ */

@media (max-width: 768px) {
    img {
        width: 60%;
        height: 80%;
        margin: 0 !important;
        display: none;
    }
    
    .mapa-div{
        display: none;
    }
}

@media (min-width: 768px){
    /* ==============================Argentina============================================ */
    .container-ar {
        display: none;
    }

    .container-argentina path {
        display: none;
    }

    .area-argentina {
        display: none;
    }

    /* ==============================Colombia============================================ */
    .container-col {
        display: none;
    }


    .container-colombia path {
        display: none;
    }

    .area-colombia {
        display: none;
    }

    /* ==============================Mexico============================================ */

    .container-mex {
        display: none;
    }

    .container-mexico path {
        display: none;
    }

    .area-mexico {
        display: none;
    }

    /* ==============================EEUU============================================ */
    
    .container-eeuu {
        display: none;
    }

    .container-estados-unidos path {
        display: none;
    }

    .area-estados-unidos {
        display: none;
    }

    /* ==============================Canada============================================ */
    .container-ca {
        display: none;
    }

    .container-canada path {
        display: none;
    }

    .area-canada {
        display: none;
    }

    /* ==============================Australia============================================ */

    .container-au {
        display: none;
    }

    .container-australia path {
        display: none;
    }

    .area-australia {
        display: none;
    }

    /* ==============================New Zealand============================================ */

    .container-nz {
        display: none;
    }

    .container-zealand path {
        display: none;
    }

    .area-zealand {
        display: none;
    }

}

@media (max-width: 576px) {
    img {
        width: 60%;
        height: 80%;
        margin: 0 !important;
        display: none;
    }

    .mapa-div {
        display: none;
    }

}
