* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #000 !important;
}

h1, h2 {
    font-family: LeagueGothic-Regular, sans-serif !important;
    margin-top: 0.3rem;
}

h2{
    color: #ffffff;
}

.mapa-div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 14rem;
    height: 2.8rem;
    margin-right: 0.4rem;
}

.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    width: 100%;
}


.mapa-div path {
    fill: #7D7D7D !important;
    stroke: #4f4f4f !important;
    stroke-width: 2px;
}

.mundial{
    padding: 7% !important;
}

a:hover .Argentina {
    fill: red !important;
}

.Colombia:hover {
    fill: red !important;
} 

a:hover .Chile {
    fill: red !important;
}

a:hover .Australia {
    fill: red !important;
}


a:hover .Zealand {
    fill: red !important;
} 


.Mexico:hover {
    fill: red !important;
} 

a:hover .States {
    fill: red !important;
}

/* a:hover .world{
    fill: #fff !important;
} */

.States:hover~path {
    fill: red !important;
}

a:hover .Canada {
    fill: red !important;
}

.Canada:hover~path {
    fill: red !important;
}

a:hover .world{
    fill: red !important;
}

/* ==============================Logo Responsive============================================ */

.container_mobile {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.mobile-logo {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.mobile {
    width: 100px;
    height: 100px;
    color: #ffffff !important;
}


/* ==============================Argentina============================================ */

.container-ar{
    width: 30%;
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-argentina path{
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-argentina{
    width: 100%;
}

a:hover .argentina-responsive {
    fill: red !important;
    stroke: red !important;
}


/* ==============================colombia============================================ */

.container-col {
    width: 50%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-colombia path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-colombia {
    width: 100%;
}

a:hover .colombia-responsive {
    fill: red !important;
    stroke: red !important;
}

/* ==============================Mexico============================================ */

.container-mex {
    width: 60%;
    margin: 60% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-mexico path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-mexico {
    width: 100%;
}

a:hover .mexico-responsive {
    fill: red !important;
    stroke: red !important;
}


/* ==============================EEUU============================================ */

.container-eeuu {
    width: 60%;
    margin: 70% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-estados-unidos path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-estados-unidos {
    width: 100%;
}

a:hover .eeuu-responsive {
    fill: red !important;
    stroke: red !important;
}

/* ==============================world============================================ */

.container-eu {
    width: 60%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-world path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-world {
    width: 100%;
}

a:hover .world-responsive {
    fill: red !important;
    stroke: red !important;
}



/* ==============================Canada============================================ */

.container-ca {
    width: 40%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-canada path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-canada {
    width: 100%;
}

a:hover .canada-responsive {
    fill: red !important;
    stroke: red !important;
}

/* ==============================Chile============================================ */

.container-ch {
    width: 60%;
    margin: 50% 50% 50% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-chile path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-chile {
    width: 100%;
}

.chile-titulo{
    margin-left: 9rem;
}

a:hover .chile-responsive {
    fill: red !important;
    stroke: red !important;
}

/* ==============================Australia============================================ */

.container-au {
    width: 50%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-australia path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-australia {
    width: 100%;
}

a:hover .australia-responsive {
    fill: red !important;
    stroke: red !important;
}



/* ==============================New Zealand============================================ */

.container-nz {
    width: 40%;
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-zealand path {
    fill: #7D7D7D !important;
    stroke: #7D7D7D !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}

.area-zealand {
    width: 100%;
}

a:hover .zealand-responsive {
    fill: red !important;
    stroke: red !important;
}



/* ==============================Media Queries============================================ */

@media (max-width: 768px) {
    .logo {
        width: 60%;
        height: 80%;
        margin: 0 !important;
        display: none;
    }
    
    .mapa-div{
        display: none;
    }
}

@media (min-width: 768px){
    /* ==============================Argentina============================================ */
    .container-ar {
        display: none;
    }

    .container-argentina path {
        display: none;
    }

    .area-argentina {
        display: none;
    }

    /* ==============================Colombia============================================ */
    .container-col {
        display: none;
    }


    .container-colombia path {
        display: none;
    }

    .area-colombia {
        display: none;
    }

    /* ==============================Mexico============================================ */

    .container-mex {
        display: none;
    }

    .container-mexico path {
        display: none;
    }

    .area-mexico {
        display: none;
    }

    /* ==============================EEUU============================================ */
    
    .container-eeuu {
        display: none;
    }

    .container-estados-unidos path {
        display: none;
    }

    .area-estados-unidos {
        display: none;
    }

     /* ==============================world============================================ */

    .container-eu {
        display: none;
    }

    .container-world {
        display: none;
    }

    .area-world {
        display: none;
    }

    /* ==============================Canada============================================ */
    .container-ca {
        display: none;
    }

    .container-canada path {
        display: none;
    }

    .area-canada {
        display: none;
    }

    /* ==============================Chile============================================ */
    .container-ch {
        display: none;
    }

    .container-chile path {
        display: none;
    }

    .area-chile {
        display: none;
    }

    /* ==============================Australia============================================ */

    .container-au {
        display: none;
    }

    .container-australia path {
        display: none;
    }

    .area-australia {
        display: none;
    }

    /* ==============================New Zealand============================================ */

    .container-nz {
        display: none;
    }

    .container-zealand path {
        display: none;
    }

    .area-zealand {
        display: none;
    }

/* ==============================Logo Responsive============================================ */
    .container_mobile{
        display: none;
    }

}

@media (max-width: 280px) {
    .chile-titulo{
        margin-left: 7rem;
    }
}


@media (max-width: 576px) {
    .logo {
        width: 60%;
        height: 80%;
        margin: 0 !important;
        display: none;
    }

    .mapa-div {
        display: none;
    }

}
